
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@200;300;400;500;700&display=swap');
/* Stack overflow said this would either kill my loading times or be the only way to import fonts, now working hopefully 12/09 */

.encode-sans-expanded-light {
  font-family: "Encode Sans Expanded", sans-serif;
  font-weight: 300;
  font-style: normal;
  letter-spacing: 1vw;
}

.encode-sans-expanded-regular {
  font-family: "Encode Sans Expanded", sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.25vw;
}

.encode-sans-expanded-medium {
  font-family: "Encode Sans Expanded", sans-serif;
  font-weight: 500;
  font-style: normal;
  letter-spacing: 0.25vw;
}

.encode-sans-expanded-bold {
  font-family: "Encode Sans Expanded", sans-serif;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 1vw;
  text-decoration: none;
}

/* These are all basically naming the various fonts, Serif is used within them as a backup incase something about the encode Sans doesn't work. Taken directly from google fonts*/

.entirethingyspacing {
  display: flex;
  flex-direction: column;
  gap: 5.5vh; 
}
/* We can all dearly thank David's Videos for assisting with his apty titled video "Aligning HTML Elements Vertically & Horizontally Using Display Flex" */
.headerlist {
/* This was taken from W3 schools for my attempts to try and make a main heading bar, it has been customised to my liking, or will be, depeneding on when you read this. */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #5c1a1b77;
}
/* Gives color to the world, rmeoves list style and the margin and padding from the list, ensures no overflow out of the visible page */
ul li {
  float: right;
}
/* Makes the buttons move to the right of the screen */
ul li a {
  display: block;
  color: #F6EFEE;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
/* describes the way the buttons/text looks, how pretty it does in fact look */
ul li a:hover {
  background-color: #5c1a1bc8;
}
/* changes the background colour when the buttons are hovered over, mostly cause i think its pretty cool look. */
/* This is the end of all the stull from W3 schools which I very unashamedly took, I do understand it all, but retyping it slightly differently would have been a complete waste of time. */
/* will also add that I do not know why the curly brackets are purple, that is a mystery to me, something about them being nested probably. */
}

.footerlist {
/* this is the same as the other header bar, just with equal spacing to be a footer. - also made text bigger because I don't like how small it is  */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #5c1a1b77;
}
/* Gives color to the world, rmeoves list style and the margin and padding from the list, ensures no overflow out of the visible page */
ul li {
    justify-content: space-evenly;
    /* thank a stack overflow post from a total of 7 days before i was born for this gem if it works */
}
ul li a {
  display: block;
  color: #F6EFEE;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 1.5vw
}
/* describes the way the buttons/text looks, how pretty it does in fact look */
ul li a:hover {
  background-color: #5c1a1bc8;
}
/* changes the background colour when the buttons are hovered over, mostly cause i think its pretty cool look. */
/* This is the end of all the stull from W3 schools which I very unashamedly took, I do understand it all, but retyping it slightly differently would have been a complete waste of time. */
/* will also add that I do not know why the curly brackets are purple, that is a mystery to me, something about them being nested probably. */
}


/* I don't know why I'm doing classes before the other .css but I feel like its probably the right way to do it. */

.thebox {
  width: 70vw;
  height: 70vh;
  background-color: #5c1a1b77;
  border-radius: 10%;
  display: flex;
  padding-left: 5%;
  margin-left: auto;
  margin-right: auto;
/* thanks 4 quick and easy ways to centre a <div> for the margin:auto tip, not entirely sure why 4 are needed but its nice to have variety */
}
.thebox h1 a {
  text-decoration: none;
  margin-top: 1vh; 
  font-size: 1.5vw;
  color: #F6EFEE;

}
/* The question box stuff ^ */

html {
    background-color: #292E1E;
}
/* its a background color, dunno what else to tell you. */
body {
  margin: 0;
  padding: 0;
}
/*Makes the header hit the very top without an ugly gap, thanks relatively unknown stack overflow post from a number of years ago. */

h1, h2, p {
    color: #F6EFEE;
    text-align: left;
}
/* Reminder to self to use H2 for the navigation bar, H1 for large text and p for small text */

h2 {
    margin: 10px;
    font-size: 2vw;
}

h1 {
    margin-top: 1vw;
    font-size: 1vw;
}

p {
    font-size: 0.5vw;
}

img {
    width: 110%;
    height: 110%;
}

/* I will be dearly dissappointed if you cannot understand the purpose of any of the various size and colour definitions without a comment explaining them, they are all self explaintory (hopefully) */